---
---

@import "minimal-mistakes";

/* Ocultar header superior */
.masthead,
.greedy-nav {
  display: none !important;
}

/* Quitar espacio arriba SIN tocar el hero */
.initial-content {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Hero intacto */
.page__hero--overlay {
  max-height: 80vh;
}


