---
---

@import "minimal-mistakes";

/* Ocultar header superior (menú) */
.masthead,
.greedy-nav {
  display: none !important;
}

/* Quitar espacio arriba */
.initial-content {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Hero intacto */
.page__hero--overlay {
  max-height: 80vh;
}

/* EXCERPT DEL HERO EN BLANCO */
.page__hero--overlay .page__lead,
.page__hero--overlay p {
  color: #ffffff !important;
}

/* OCULTAR "Permalink" y el ícono en los títulos de sección */
.page__content h1 a.header-link,
.page__content h2 a.header-link,
.page__content h3 a.header-link,
.page__content h4 a.header-link,
.page__content h5 a.header-link,
.page__content h6 a.header-link {
  display: none !important;
}

